<?php

$baseConfig['routes'] = [
    [
        'GET',
        '/',
        'index',
    ],
    [
        'GET',
        '/index[/{action}]',
        'index',
    ],
    [
        'GET',
        '/dapp[/{action}]',
        'dapp',
    ],
    [
        'GET',
        '/tools[/{action}]',
        'tools',
    ],
    [
        'GET',
        '/faq[/{action}]',
        'faq',
    ],
    [
        'GET',
        '/delegate[/{action}]',
        'delegate',
    ],
    [
        'GET',
        '/stake[/{action}]',
        'stake',
    ],
    [
        'GET',
        '/flrexplorer[/{action}]',
        'flrexplorer',
    ],
    [
        'GET',
        '/sgbexplorer[/{action}]',
        'sgbexplorer',
    ],
];